section#top{
      color: white;   
      background-image: url("../img/section-intro-bg.svg");
      height: 500px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
}

@media only screen and (max-width: 950px) {
   div>#logo-img {
      display: flex;
      align-content: center;
      justify-content: center;
   }
   div#intro {
      margin-top: 120px;
   }

}
     
@media only screen and (max-width: 600px) {
   div>#logo-img {
      display: flexbox;
      align-content: center;
      justify-content: center;
      padding: 10%;
   }
   div#intro {
      margin-top: 150px;
   }
}   